@import './helpers/helpers';

.login {
    border-top: 1px solid #EFEFEF;
    padding-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    margin-bottom: 140px;


    &-title {
        @include font($color, 30px, 700, normal);
        text-transform: uppercase;
        margin-bottom: 43px;
    }

    &-field {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 37px;

        &__div {
            width: 540px;
            border: 1px solid #E3E3E3;
            @include font(#75758A, $size, $weight, 20px);
            padding: 18px 20px 17px 20px;
            display: flex;
            flex-direction: column;
            gap: 3px;

            input {
                border: none;
                @include font($color, $size, 700, normal);
                text-transform: uppercase;
            }
        }
    }

    &-button {
        width: 300px;
        height: 50px;
        border-radius: 100px;
        background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
        border: none;
        @include font(#FFF, $size, 700, normal);
        text-transform: uppercase;
        margin-bottom: 40px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    }

    &-button:hover {
        background: #4F9C2C;
        cursor: pointer;
    }

    &-registrate {
        width: 300px;
        height: 50px;
        border-radius: 100px;
        background-color: #FFF;
        @include font(#000, $size, 700, normal);
        text-transform: uppercase;
        margin-bottom: 80px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
        border: none;
    }

    &-registrate:hover {
        background-color: #75758A;
        color: #FFF;
        cursor: pointer;
        border: none;
    }
}

@media(max-width: 550px){
    .login{
        &-title{
            font-size: 25px;
        }
        &-field{
            &__div{
                width:480px;
            }
        }
    }
}

@media(max-width: 480px) {
    .login {
        &-field {
            &__div {
                width: 400px;
            }
        }

        &-button {
            width: 250px;
        }

        &-registrate{
            width: 250px;
        }
    }
}

@media(max-width: 400px) {
    .login {
        &-field {
            &__div {
                width: 360px;
            }
        }

        &-button {
            width: 250px;
        }

        &-registrate {
            width: 250px;
        }
    }
}

@media(max-width: 360px) {

    .login {
        &-title {
            font-size: 20px;
        }

        &-field {
            &__div {
                width: 320px;
            }
        }

        &-button {
            width: 200px;
        }

        &-registrate {
            width: 200px;
        }
    }
}