<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/scss/style.css" />
</head>
<body>
    <header class="header">
        <div class="header-center center">
            <img class="header-logo" src="/img/drugLogo1.png" alt="logo foto">
            <nav class="header-menu">
                <a class="header-menu__item" href="">Каталог</a>
                <a class="header-menu__item" href="">Разместить объявление</a>
                <a class="header-menu__item" href="">О сайте</a>
            </nav>
            <div class="header-search">
                <svg class="header-search__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     viewBox="0 0 16 16" fill="none">
                    <path d="M15.86 15.184L11.9718 11.2958C13.0148 10.0967 13.6463 8.53215 13.6463 6.82217C13.6463 3.05809 10.5847 0 6.82413 0C3.06005 0 0.00195312 3.06164 0.00195312 6.82217C0.00195312 10.5827 3.06359 13.6443 6.82413 13.6443C8.5341 13.6443 10.0986 13.0129 11.2977 11.9698L15.186 15.8581C15.2782 15.9503 15.4024 16 15.523 16C15.6436 16 15.7678 15.9539 15.86 15.8581C16.0445 15.6736 16.0445 15.3685 15.86 15.184ZM0.956277 6.82217C0.956277 3.5867 3.58865 0.957871 6.82058 0.957871C10.0561 0.957871 12.6849 3.59024 12.6849 6.82217C12.6849 10.0541 10.0561 12.69 6.82058 12.69C3.58865 12.69 0.956277 10.0576 0.956277 6.82217Z"
                          fill="black" />
                </svg>
                <input class="header-search__input" type="text" placeholder="Поиск">
            </div>
        </div>
        <div class="header-icons">
            <a href="Registration/Index">Регистрация</a>
            @*<details class="header-icons__item">
                <summary>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                        <path d="M12.6249 12.9868C12.609 12.9851 10.3068 13.053 9.96449 10.5859C10.3448 10.3205 10.6954 9.97602 11.0042 9.55797C11.605 8.74469 11.9921 7.72445 12.13 6.6209C12.1774 6.57805 12.2166 6.52473 12.243 6.46187C12.4925 5.86754 12.619 5.23293 12.619 4.57559C12.619 2.05262 10.7159 0 8.37641 0C7.76457 0 7.17098 0.140937 6.61035 0.419258C6.39648 0.435586 6.18691 0.473203 5.98594 0.53125C5.02512 0.808867 4.24324 1.52125 3.7843 2.53727C3.33875 3.52375 3.25094 4.68504 3.53711 5.80727C3.59758 6.04434 3.67445 6.2773 3.76562 6.49988C3.79031 6.56008 3.82711 6.61145 3.87129 6.65371C4.09465 8.37617 4.91422 9.80332 6.03172 10.5825C5.68836 13.0538 3.38695 12.9852 3.37109 12.9869C1.71555 13.0431 0.385742 14.4065 0.385742 16.0755V19.5497C0.385742 19.7984 0.587344 20 0.836055 20H4.79039H11.2055H15.1599C15.4086 20 15.6103 19.7984 15.6103 19.5497V16.0755C15.6102 14.4064 14.2805 13.043 12.6249 12.9868ZM6.23598 1.39652C6.40031 1.34902 6.57387 1.32086 6.75184 1.31285C6.81789 1.30988 6.88246 1.29242 6.94102 1.26164C7.39691 1.02211 7.87988 0.900664 8.37645 0.900664C10.2192 0.900664 11.7184 2.54922 11.7184 4.57559C11.7184 4.63641 11.7167 4.69691 11.714 4.75719C11.3566 4.39422 10.86 4.16863 10.3116 4.16863H7.24242C7.0598 4.16863 6.88648 4.11129 6.74113 4.00277C6.61703 3.91016 6.52109 3.78566 6.46379 3.64277C6.37504 3.42176 6.15621 3.28352 5.91801 3.29848C5.67895 3.31371 5.47777 3.47973 5.41738 3.71172C5.23953 4.39516 4.88488 5.02469 4.39832 5.5352C3.94559 3.67195 4.76266 1.82219 6.23598 1.39652ZM5.84418 9.18516C5.2582 8.4693 4.87445 7.50262 4.75281 6.4443C5.32105 5.93785 5.77027 5.30762 6.06273 4.60855C6.10711 4.64949 6.15371 4.6882 6.20238 4.72457C6.50457 4.95008 6.86418 5.06934 7.24246 5.06934H10.3116C10.7459 5.06934 11.1202 5.3298 11.2872 5.70258C11.2872 5.70578 11.2867 5.70883 11.2867 5.71203C11.2867 8.25414 9.81172 10.3223 7.99867 10.3223C7.20961 10.3223 6.44441 9.91848 5.84418 9.18516ZM6.87891 11.0247C7.2359 11.1539 7.61141 11.223 7.99867 11.223C8.38285 11.223 8.7582 11.1561 9.11754 11.0271C9.28242 11.8861 9.76004 12.6348 10.4272 13.1503L8.06254 16.5178C8.04711 16.5398 8.02566 16.5509 7.99879 16.5509C7.97195 16.5509 7.95051 16.5397 7.93512 16.5178L5.56988 13.1495C6.23707 12.6335 6.71453 11.8843 6.87891 11.0247ZM14.7096 19.0993H11.2055H4.79039H1.28637V16.0754C1.28637 14.8675 2.26906 13.8848 3.47695 13.8848C3.49336 13.8848 4.21801 13.8672 4.79059 13.607L7.19797 17.0354C7.38094 17.296 7.68031 17.4516 7.99875 17.4516C7.99875 17.4516 7.99875 17.4516 7.99879 17.4516C8.31719 17.4516 8.6166 17.296 8.79957 17.0354L11.2065 13.6075C11.8595 13.8848 12.5026 13.8848 12.519 13.8848C13.7269 13.8848 14.7096 14.8675 14.7096 16.0754V19.0993Z"
                              fill="black" />
                    </svg>
                </summary>
                <div>
                    <a href="#">Профиль</a>
                    <a href="#">Мои объявления</a>
                    <a href="#">Выйти</a>
                </div>
            </details>*@
        </div>
    </header>

    @RenderBody()

    <footer class="footer center">
        <p class="footer-text">&copy 2023 Пилюля</p>
    </footer>
</body>
</html>
