<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/scss/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script defer src="/js/main.js"></script>
</head>
<body>
    <header class="header">
        <div class="header-center center">
            <img class="header-logo" src="/img/drugLogo1.png" onclick="goToHomePage()" alt="logo foto">
            <nav class="header-menu">
                <a class="header-menu__item" href="/Catalog/Index">Каталог</a>
                <a class="header-menu__item" href="/Ad/Create">Разместить объявление</a>
            </nav>
            <div class="header-search">                
                <svg onclick="searchDrug()" class="header-search__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        viewBox="0 0 16 16" fill="none">
                    <path d="M15.86 15.184L11.9718 11.2958C13.0148 10.0967 13.6463 8.53215 13.6463 6.82217C13.6463 3.05809 10.5847 0 6.82413 0C3.06005 0 0.00195312 3.06164 0.00195312 6.82217C0.00195312 10.5827 3.06359 13.6443 6.82413 13.6443C8.5341 13.6443 10.0986 13.0129 11.2977 11.9698L15.186 15.8581C15.2782 15.9503 15.4024 16 15.523 16C15.6436 16 15.7678 15.9539 15.86 15.8581C16.0445 15.6736 16.0445 15.3685 15.86 15.184ZM0.956277 6.82217C0.956277 3.5867 3.58865 0.957871 6.82058 0.957871C10.0561 0.957871 12.6849 3.59024 12.6849 6.82217C12.6849 10.0541 10.0561 12.69 6.82058 12.69C3.58865 12.69 0.956277 10.0576 0.956277 6.82217Z"
                            fill="black" />
                </svg>            
               <input class="header-search__input" type="search" placeholder="Поиск">
            </div>
            <div class="header-icons">
                @if (User?.Identity?.IsAuthenticated == true)
                {

                    <details class="header-icons__item">
                        <summary>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                                <path d="M12.6249 12.9868C12.609 12.9851 10.3068 13.053 9.96449 10.5859C10.3448 10.3205 10.6954 9.97602 11.0042 9.55797C11.605 8.74469 11.9921 7.72445 12.13 6.6209C12.1774 6.57805 12.2166 6.52473 12.243 6.46187C12.4925 5.86754 12.619 5.23293 12.619 4.57559C12.619 2.05262 10.7159 0 8.37641 0C7.76457 0 7.17098 0.140937 6.61035 0.419258C6.39648 0.435586 6.18691 0.473203 5.98594 0.53125C5.02512 0.808867 4.24324 1.52125 3.7843 2.53727C3.33875 3.52375 3.25094 4.68504 3.53711 5.80727C3.59758 6.04434 3.67445 6.2773 3.76562 6.49988C3.79031 6.56008 3.82711 6.61145 3.87129 6.65371C4.09465 8.37617 4.91422 9.80332 6.03172 10.5825C5.68836 13.0538 3.38695 12.9852 3.37109 12.9869C1.71555 13.0431 0.385742 14.4065 0.385742 16.0755V19.5497C0.385742 19.7984 0.587344 20 0.836055 20H4.79039H11.2055H15.1599C15.4086 20 15.6103 19.7984 15.6103 19.5497V16.0755C15.6102 14.4064 14.2805 13.043 12.6249 12.9868ZM6.23598 1.39652C6.40031 1.34902 6.57387 1.32086 6.75184 1.31285C6.81789 1.30988 6.88246 1.29242 6.94102 1.26164C7.39691 1.02211 7.87988 0.900664 8.37645 0.900664C10.2192 0.900664 11.7184 2.54922 11.7184 4.57559C11.7184 4.63641 11.7167 4.69691 11.714 4.75719C11.3566 4.39422 10.86 4.16863 10.3116 4.16863H7.24242C7.0598 4.16863 6.88648 4.11129 6.74113 4.00277C6.61703 3.91016 6.52109 3.78566 6.46379 3.64277C6.37504 3.42176 6.15621 3.28352 5.91801 3.29848C5.67895 3.31371 5.47777 3.47973 5.41738 3.71172C5.23953 4.39516 4.88488 5.02469 4.39832 5.5352C3.94559 3.67195 4.76266 1.82219 6.23598 1.39652ZM5.84418 9.18516C5.2582 8.4693 4.87445 7.50262 4.75281 6.4443C5.32105 5.93785 5.77027 5.30762 6.06273 4.60855C6.10711 4.64949 6.15371 4.6882 6.20238 4.72457C6.50457 4.95008 6.86418 5.06934 7.24246 5.06934H10.3116C10.7459 5.06934 11.1202 5.3298 11.2872 5.70258C11.2872 5.70578 11.2867 5.70883 11.2867 5.71203C11.2867 8.25414 9.81172 10.3223 7.99867 10.3223C7.20961 10.3223 6.44441 9.91848 5.84418 9.18516ZM6.87891 11.0247C7.2359 11.1539 7.61141 11.223 7.99867 11.223C8.38285 11.223 8.7582 11.1561 9.11754 11.0271C9.28242 11.8861 9.76004 12.6348 10.4272 13.1503L8.06254 16.5178C8.04711 16.5398 8.02566 16.5509 7.99879 16.5509C7.97195 16.5509 7.95051 16.5397 7.93512 16.5178L5.56988 13.1495C6.23707 12.6335 6.71453 11.8843 6.87891 11.0247ZM14.7096 19.0993H11.2055H4.79039H1.28637V16.0754C1.28637 14.8675 2.26906 13.8848 3.47695 13.8848C3.49336 13.8848 4.21801 13.8672 4.79059 13.607L7.19797 17.0354C7.38094 17.296 7.68031 17.4516 7.99875 17.4516C7.99875 17.4516 7.99875 17.4516 7.99879 17.4516C8.31719 17.4516 8.6166 17.296 8.79957 17.0354L11.2065 13.6075C11.8595 13.8848 12.5026 13.8848 12.519 13.8848C13.7269 13.8848 14.7096 14.8675 14.7096 16.0754V19.0993Z"
                                      fill="black" />
                            </svg>
                        </summary>
                        <div>
                            <a href="/Profile/Index">Профиль</a>
                            <a href="/Profile/Index">Мои объявления</a>
                            <a href="/Account/Logout">Выйти</a>
                        </div>
                    </details>
                }
                else
                {
                    <a class="header-icons__link" href="/Account/Login">Войти</a>
                }
            </div>
        </div>
        
        <div class="header-menu__adapter">
            <details class="header-menu__details">
                <summary>
                    <svg width="25px" height="25px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5 10.32C8.433 10.32 10 8.753 10 6.82001C10 4.88701 8.433 3.32001 6.5 3.32001C4.567 3.32001 3 4.88701 3 6.82001C3 8.753 4.567 10.32 6.5 10.32Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.5 10.32C19.433 10.32 21 8.753 21 6.82001C21 4.88701 19.433 3.32001 17.5 3.32001C15.567 3.32001 14 4.88701 14 6.82001C14 8.753 15.567 10.32 17.5 10.32Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.5 21.32C8.433 21.32 10 19.753 10 17.82C10 15.887 8.433 14.32 6.5 14.32C4.567 14.32 3 15.887 3 17.82C3 19.753 4.567 21.32 6.5 21.32Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.5 21.32C19.433 21.32 21 19.753 21 17.82C21 15.887 19.433 14.32 17.5 14.32C15.567 14.32 14 15.887 14 17.82C14 19.753 15.567 21.32 17.5 21.32Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </summary>
                <div>
                    <a href="/Catalog/Index">Каталог</a>
                    <a href="/Ad/Create">Разместить объявление</a>
                </div>
            </details>
        </div>       
    </header>
    

    @RenderBody()

    <footer class="footer center">
        <p class="footer-text">&copy 2023 Пилюля</p>
    </footer>

    <header class="header-mobile">
        <img class="header-mobile__logo" src="/img/drugLogo1.png" onclick="goToHomePage()" alt="logo foto">
        <div onclick="goToCatalog()">
            <svg fill="#000000" height="23px" width="23px" version="1.1" id="XMLID_237_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 24 24" xml:space="preserve">
                <g id="catalog">
                            <g>
                            <path d="M12,23.3L0,20V3l4,1V1l8,2.3L20,1v3l4-1v17L12,23.3z M2,18.5l10,2.8l10-2.7v-13l-2,0.5v11l-8,2.2L4,17V6L2,5.5V18.5z
			                 M13,5.1V17l5-1.4v-12L13,5.1z M6,15.5l5,1.4V5.1L6,3.7V15.5z" />
                    </g>
                </g>
            </svg>
            <span>Каталог</span>
        </div>
        <div onclick="goToAdCreate()">
            <svg width="24px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Edit / Add_Plus_Square">
                    <path id="Vector" d="M8 12H12M12 12H16M12 12V16M12 12V8M4 16.8002V7.2002C4 6.08009 4 5.51962 4.21799 5.0918C4.40973 4.71547 4.71547 4.40973 5.0918 4.21799C5.51962 4 6.08009 4 7.2002 4H16.8002C17.9203 4 18.4801 4 18.9079 4.21799C19.2842 4.40973 19.5905 4.71547 19.7822 5.0918C20.0002 5.51962 20.0002 6.07967 20.0002 7.19978V16.7998C20.0002 17.9199 20.0002 18.48 19.7822 18.9078C19.5905 19.2841 19.2842 19.5905 18.9079 19.7822C18.4805 20 17.9215 20 16.8036 20H7.19691C6.07899 20 5.5192 20 5.0918 19.7822C4.71547 19.5905 4.40973 19.2842 4.21799 18.9079C4 18.4801 4 17.9203 4 16.8002Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
            <span>Объявление</span>
        </div>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <div onclick="goToProfile()">
                <svg width="23px" height="23px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>profile_round [#1342]</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -2159.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <path d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598" id="profile_round-[#1342]">

                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
                <span>Профиль</span>
            </div>
        }
        else
        {
            <div>
                <svg width="800px" height="800px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="entranceIconTitle" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000"> <title id="entranceIconTitle">Entrance</title>
                    <path d="M11 15l3-3-3-3" />
                    <path d="M4.5 12H13" /> 
                    <path stroke-linecap="round" d="M14 12h-1" /> 
                    <path d="M18 4v16H7V4z" /> 
                </svg>
                <span>Войти</span>
            </div>
        }        
    </header>
</body>
</html>
