<div class="registration center">
    <h1 class="registration-title">Регистрация</h1>
    <div class="registration-field">
        <div class="registration-field__div">Ваше имя<input type="tel" name="Nickname" onclick="clearError()"></div>
        <div class="registration-field__div">E-mail<input type="email" name="Email" onclick="clearError()"></div>
        <div class="registration-field__div">Номер телефона<input type="tel" name="Telephone" onclick="clearError()"></div>
        <div class="registration-field__div">Город<input type="text" name="City" onclick="clearError()"></div>
        <div class="registration-field__div">Район города<input type="text" name="Disrict" onclick="clearError()"></div>
        <div class="registration-field__div">Пароль<input type="password" name="Password" onclick="clearError()"></div>
        <div class="registration-field__div">Повторите пароль<input type="password" name="DoublePassword" onclick="clearError()"></div>
    </div>
    <div class="registration-error"></div>
    <button class="registration-button" onclick="registrateUser()">Завершить регистрацию</button>
</div>


