<div class="login center">
    <h1 class="login-title">Войдите в свой аккаунт</h1>
    <div class="login-field">
        <div class="login-field__div">Почта<input type="email" name="Email" onclick="clearErrorLogin()"></div>
        <div class="login-field__div">Пароль<input type="password" name="Password" onclick="clearErrorLogin()"></div>
    </div>
    <div class="login-error"></div>
    <button class="login-button" onclick="loginUser()">Войти</button>
    <button class="login-registrate" onclick="goToRegistrationPage()">Регистрация</button>
</div>