<div class="catalog center">
    <h1 class="catalog-title">Лекарственные средства</h1>
    <h2 class="catalog-subtitle">Популярные категории лекарств</h2>
    <div class="catalog-categories">
        <div class="catalog-categories__item">
            Боль, температура
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Аллергия
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>
        </div>
        <div class="catalog-categories__item">
            Кожа
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>
        </div>
        <div class="catalog-categories__item">
            Сердечно-сосудистые
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Желудок, кишечник, печень
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Зубы и рот
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
    </div>
    <div class="catalog-sort">
        <select name="" id="">
            <option value="">По названию</option>
            <option value="">По дате размещения</option>
            <option value="">По сроку годности</option>
        </select>
    </div>
    <div class="catalog-content">
        <div class="catalog-offers">
            <div class="catalog-offers__block">
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
                <div class="catalog-offers__item">
                    <img src="img/capsules.png" alt="capsules foto">
                    <div class="catalog-offers__title">
                        <h1 class="catalog-offers__title__big">Нурофен</h1>
                        <h3 class="catalog-offers__title__small">Касулы</h3>
                    </div>
                    <div class="catalog-offers__info">
                        <div>
                            <span class="catalog-offers__info__first">200мг</span>
                            <span class="catalog-offers__info__second">Дозировка</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">10шт.</span>
                            <span class="catalog-offers__info__second">Количество</span>
                        </div>
                        <div>
                            <span class="catalog-offers__info__first">20.09.2024</span>
                            <span class="catalog-offers__info__second">Срок годности</span>
                        </div>
                    </div>
                    <button class="catalog-offers__button" type="submit">Подробнее</button>
                </div>
            </div>

        </div>
        <div class="catalog-filter">
            <div></div>
            <h2 class="catalog-filter__title">Категории</h2>
            <a href="" class="catalog-filter__item">Акушерство, гинекология</a>
            <a href="" class="catalog-filter__item">Аллергия</a>
            <a href="" class="catalog-filter__item">Антибиотики</a>
            <a href="" class="catalog-filter__item">Болезни крови</a>
            <a href="" class="catalog-filter__item">Боль, температура</a>
            <a href="" class="catalog-filter__item">Глаза</a>
            <a href="" class="catalog-filter__item">Гомеопатия</a>
            <a href="" class="catalog-filter__item">Детское здоровье</a>
            <a href="" class="catalog-filter__item">Диабет</a>
            <a href="" class="catalog-filter__item">Дыхательная система</a>
            <a href="" class="catalog-filter__item">Желудок, кишечник, печень</a>
            <a href="" class="catalog-filter__item">Зубы и рот</a>
            <a href="" class="catalog-filter__item">Иммунная система</a>
            <a href="" class="catalog-filter__item">Кожа</a>
            <a href="" class="catalog-filter__item">Мочеполовая система</a>
            <a href="" class="catalog-filter__item">Нарушения обмена веществ</a>
            <a href="" class="catalog-filter__item">Неврология, психиатрия</a>
            <a href="" class="catalog-filter__item">Обеззараживающие средства</a>
            <a href="" class="catalog-filter__item">Онкология</a>
            <a href="" class="catalog-filter__item">Отравления</a>
            <a href="" class="catalog-filter__item">Противовирусные средства</a>
            <a href="" class="catalog-filter__item">Противогрибковые средства</a>
            <a href="" class="catalog-filter__item">Разное</a>
            <a href="" class="catalog-filter__item">Сердечно-сосудистые</a>
            <a href="" class="catalog-filter__item">Ухо, горло, нос</a>
            <a href="" class="catalog-filter__item">Эндокринология</a>
        </div>
    </div>
</div>